body{
	background-color:black;
	text-align:center;
background-image: url(https://steamuserimages-a.akamaihd.net/ugc/985611585364122807/2C424AFADA59AB90D9A74C914BA160C1AF8A26EE/);
  background-position:center;
  background-size:cover;
  height:100vh;
}
p{
	color:white;
}