body{
	text-align:center;
	background-color:black;
	color:white;
}
#aa{
	background-image: url(http://media.tnh.me/54bee0245ccacf4e3fb5855f/56cf3416ddcb21271c6dfefb_100);
  background-position:center;
  background-size:cover;
  height:100vh;
}