body{
	
	color:white;
	background-color:black;
}
p{
  background-image: url(https://thumbs.gfycat.com/NeighboringGracefulHousefly-size_restricted.gif);
  background-position:center;
  background-size:cover;
  height:200vh;
  }
  